@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 740px) and (max-width: 900px){

.top {
	margin: 0 auto;
	height: 80px;
	width: 100%;
	background-color: #282f39;
}
.top_content {
	width: 768px;
	height: 80px;
	margin: 0 auto;
	font-family: "微软雅黑";
}

.yingwen {
	font-size: 10px;
	font-family: "微软雅黑";
}
.logol {
	width: 350px;
	height: 80px;
	float: left;
}
.logol li {
	float: left;
	list-style: none;
	width: 58px;
	margin-left: 15px;
	margin-top: 33px;
	line-height: 15px;
}
.logol a {
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}

.logor {
	width: 350px;
	height: 80px;
	float: left;
}
.logor li {
	float: left;
	list-style: none;
	width: 58px;
	margin-right: 20px;
	margin-top: 33px;
	line-height: 15px;
}
.logor a {
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
	
	
  }




















@media screen and (max-width: 740px){

.top {
	margin: 0 auto;
	height: 80px;
	width: 100%;
	background-color: #282f39;
}
.top_content {
	width: 740px;
	height: 80px;
	margin: 0 auto;
	font-family: "微软雅黑";
}

.yingwen {
	font-size: 8px;
	font-family: "微软雅黑";
}
.logol {
	width: 335px;
	height: 80px;
	float: left;
}
.logol li {
	float: left;
	list-style: none;
	width: 40px;
	margin-left: 20px;
	margin-top: 33px;
	line-height: 15px;
}
.logol a {
	font-size: 8px;
	color: #999999;
	text-decoration: none;
}

.logor {
	width: 335px;
	height: 80px;
	float: left;
}
.logor li {
	float: left;
	list-style: none;
	width: 40px;
	margin-right: 20px;
	margin-top: 33px;
	line-height: 15px;
}
.logor a {
	font-size: 8px;
	color: #999999;
	text-decoration: none;
}

	#long{
		width: 50px;
	}

	
   }













@media screen and (min-width: 740px) and (max-width: 900px){
		.mid_content_top_r{
		display: none;
	}
	.mid_content_top_l{
		margin-left: 90px;
	}
	.mid_content_mid_r{
		float: none;
	}
	.mid_content_mid_l{
		
		margin-top: 0px;
		margin-left: 190px;
			
	}
	
	.mid_content_mid{
		height: 700px;
	margin-top: 25px;
	}
	.mid_content_mid_r{
		margin-left: 29px;
		width: 485px;
		height: 100%;
		float: left;
		margin-top: -340px;
		margin-left: 190px;
	}
	.mid_content_end {
	height: 1000px;
	width: 100%;
	}
	.mid {
	margin: 0 auto;
	height: 1650px;
	}
	#none{
		display: none;
	}
	.mid_content_end_1{
		margin-left: -400px;
		width: 313px;
		height: 300px;
		float: left;
		margin-top: 20px;
	}
	.mid_content_end_2 {
	width: 313px;
	height: 300px;
	float: left;
	margin-left: 60px;
	
	}
	.mid_content_1 {
	width: 970px;
	height: 320px;
	margin-left: -70px;
	}
	}
		@media screen and (max-width: 740px){

	#long{
		width: 50px;
	}
	.mid_content_top_r{
		display: none;
	}
	.mid_content_top_l{
		margin-left: 10px;
	}
	.mid_content_mid_r{
		float: none;
	}
	.mid_content_mid_l{
		
		margin-top: 0px;
		margin-left: 100px;
			
	}
	
	.mid_content_mid{
		height: 700px;
	margin-top: 25px;
	}
	.mid_content_mid_r{
		
		width: 485px;
		height: 100%;
		float: left;
		margin-top: -340px;
		margin-left: 100px;
	}
	.mid_content_end {
	height: 1000px;
	width: 100%;
	}
	.mid {
	margin: 0 auto;
	height: 1650px;
	}
	#none{
		display: none;
	}
	.mid_content_end_1{
		margin-left: -400px;
		width: 313px;
		height: 300px;
		float: left;
		margin-top: 20px;
	}
	.mid_content_end_2 {
	width: 313px;
	height: 300px;
	
	margin-left: -400px;
	margin-top: 280px;
	
	}
	.mid_content_end_3 {
	width: 313px;
	height: 300px;
	float: left;
	margin-left: -400px;
	margin-top: 560px;
	}
	.mid_content_end {
	height: 650px;
	width: 100%;
	}
	.mid {
	margin: 0 auto;
	height: 1700px;
	}
}